*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header{
    height: 70px;
    background: #131921;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-left{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.nav-left img{
    width: 100px;
    margin: 0 1rem;
    cursor: pointer;
}

.nav-left img:hover{
    outline: 2px solid white;
}

.nav-left p{
    padding: 0.75rem;
    color: #777;
    font-size: 0.75rem;
    cursor: pointer;
}

.nav-left p:hover{
    outline: 2px solid white;
}

.nav-left p span{
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.nav-fill{
    display: flex;
    align-items: center;
    height: 38px;
    width: 650px;
    background: #fff;
    margin: 0 1rem;
    border-radius: 10px;
}

.nav-fill select{
    width: 60px;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    background: #bdbaba;
    align-items: flex-start;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}
.nav-fill select:hover{
    outline: 2px solid orangered;
}

.nav-fill input{
    border: none;
    outline: none;
    font-size: 1rem;
    flex: 1;
    margin: 0 0.5rem;
    font-weight: 500;
}

.nav-fill i{
    margin: 0 1rem;
    color: #777;
    font-size: 1.25rem;
    cursor: pointer;
}
.nav-fill button{
    border: none;
    outline: none;
    background: orange;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-fill button i{
    color: #131921;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lang{
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 0 0.5rem;
    cursor: pointer;
}

.lang img{
    width: 30px;
    margin: 0 0.5rem;
}

.lang p i{
    font-size: 1rem;
    margin: 0 5px;
}

.sign-in{
    color: #fff;
    font-size: 0.75rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
.sign-in p span{
    font-weight: bold;
    font-size: 0.85rem;
}
.sign-in p i{
    color: #777;
    margin: 0 5px;
}

.order{
    margin: 0 1rem;
    cursor: pointer;
}
.order p{
    color: #fff;
    font-size: 0.75rem;
}
.order p span{
    font-weight: bold;
    font-size: 0.85rem;
}

.cart{
    margin: 0 0.5rem;
    display: flex;
    align-items: baseline;
    color: #fff;
    cursor: pointer;
}
.cart i{
    font-size: 2rem;
}

#nav-bottom{
    height: 35px;
    background: #232f3e;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.nav-options{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.5rem;
}
.nav-options i{
    margin: 0 5px;
    font-size: 1rem;
}
.nav-options button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.nav-options:hover{
    outline: 1px solid white;
}

#nav-bottom a{
    text-decoration: none;
    color: #fff;
    font-size: 0.90rem;
    font-weight: 500;
    padding: 0.5rem;
}

#nav-bottom a:hover{
    outline: 1px solid white;
}