*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right,#c6cdd2,#d9e0e1);
}

#header{
    height: 70px;
    background: #131921;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-left{
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.nav-left img{
    width: 100px;
    margin: 0 1rem;
    cursor: pointer;
}

.nav-left img:hover{
    outline: 2px solid white;
}

.nav-left p{
    padding: 0.75rem;
    color: #777;
    font-size: 0.75rem;
    cursor: pointer;
}

.nav-left p:hover{
    outline: 2px solid white;
}

.nav-left p span{
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.nav-fill{
    display: flex;
    align-items: center;
    height: 38px;
    width: 650px;
    background: #fff;
    margin: 0 1rem;
    border-radius: 10px;
}

.nav-fill select{
    width: 60px;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    background: #bdbaba;
    align-items: flex-start;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
}
.nav-fill select:hover{
    outline: 2px solid orangered;
}

.nav-fill input{
    border: none;
    outline: none;
    font-size: 1rem;
    flex: 1;
    margin: 0 0.5rem;
    font-weight: 500;
}

.nav-fill i{
    margin: 0 1rem;
    color: #777;
    font-size: 1.25rem;
    cursor: pointer;
}
.nav-fill button{
    border: none;
    outline: none;
    background: orange;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-fill button i{
    color: #131921;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lang{
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: bold;
    padding: 1rem 0.5rem;
    cursor: pointer;
    
}
.lang:hover{
    outline: 2px solid white;
}

.lang img{
    width: 30px;
    margin: 0 0.5rem;
}

.lang p i{
    font-size: 1rem;
    margin: 0 5px;
}

.sign-in{
    color: #fff;
    font-size: 0.75rem;
    padding: 1rem 0.5rem;
    cursor: pointer;
}
.sign-in:hover{
    outline: 2px solid white;
}
.sign-in p span{
    font-weight: bold;
    font-size: 0.85rem;
}
.sign-in p i{
    color: #777;
    margin: 0 5px;
}

.order{
    padding: 1rem 0.5rem;
    cursor: pointer;
}
.order:hover{
    outline: 2px solid white;
}
.order p{
    color: #fff;
    font-size: 0.75rem;
}
.order p span{
    font-weight: bold;
    font-size: 0.85rem;
}

.cart{
    padding: 0.80rem 0.5rem;
    display: flex;
    align-items: baseline;
    color: #fff;
    cursor: pointer;
}
.cart:hover{
    outline: 2px solid white;
}
.cart i{
    font-size: 2rem;
}

#nav-bottom{
    height: 35px;
    background: #232f3e;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.nav-options{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0.5rem;
}
.nav-options i{
    margin: 0 5px;
    font-size: 1rem;
}
.nav-options button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.nav-options:hover{
    outline: 1px solid white;
}

#nav-bottom a{
    text-decoration: none;
    color: #fff;
    font-size: 0.90rem;
    font-weight: 500;
    padding: 0.5rem;
}

#nav-bottom a:hover{
    outline: 1px solid white;
}

/* MAIN */
#main{
    height: 100vh;
    width: 100%;
    background-image : linear-gradient(transparent,rgba(255,255,255,0.7)),url(assets/hero_image.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 200px;
}

.card-container{
    background: rgba(255,255,255,0.6);
    display: flex;
    padding: 0 20px;
    background: transparent;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.card{
    background: #fff;
    width: 300px;
    height: 420px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 8px 8px;
    border-radius: 4px;
}
.card img{
    width: 268px;
    height: 290px;
    margin: 0.5rem 0;
    border-radius: 5px;
}

.card h1{
    margin: 0.5rem 0;
    font-size: 1.25rem;
}

.card a{
    text-decoration: none;
    color: #007185;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

.card:hover a{
    color: orange;
}

.deal-img{
    width: 268px;
    height: 303px;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    padding: 0 1rem;
    
}

.deal img{
    width: 100px;
    height: 100px;
}

.deal span{
    background: crimson;
    color: white;
    font-size: 0.80rem;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}
.deal p{
    color: crimson;
    font-weight: 600;
}

.font-sm{
    font-size: 0.75rem;
    color: #777 !important;
    font-weight: 300;
}

/* Horizontal Deals Container */
.container{
    background: #fff;
    width: 98%;
    min-height: 300px;
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 30px 20px;
}

.container-heading{
    display: flex;
    align-items: baseline;
}
.container-heading h1{
    font-size: 1.35rem;
    margin-right: 1rem;
}
.container-heading a{
    text-decoration: none;
    color: #007185;
    font-size: 0.95rem;
}
.container-heading a:hover{
    text-decoration: underline;
    color: orange;
}

.container-box{
    display: flex;
    align-items: center;
    min-width: 100%;
    padding-top: 20px;
}

.container-box-card{
    margin-right: 10px;
}

.container-box-card-img{
    width: 240px;
    background: #eee;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box-card-img img{
    width: 170px;
    height: 183px;
}
.container-box-card-deal{
    margin-top: 0.5rem;
}
.container-box-card-deal p{
    color: crimson;
    font-size: 0.85rem;
}
.container-box-card-deal p span{
    background: crimson;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.85rem;
}
.container-box-card-deal p span b{
    margin-right: 4px;
}
.container-box-card-deal p span{
    margin-right: 5px;
}
.container-box-card-price{
    margin-top: 1rem;
}
.container-box-card-price p{
    font-size: 1.2rem;
}
.container-box-card-price p span{
    font-size: 0.90rem;
    opacity: 0.8;
    text-decoration: line-through;
}
.container-box-card-detail{
    font-size: 0.80rem;
    margin-top: 2px;
}